NEXT_PUBLIC_SUPABASE_URL=https://fgsycsojsnjkqtmduyux.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnc3ljc29qc25qa3F0bWR1eXV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTg5Mjc2MzEsImV4cCI6MjAxNDUwMzYzMX0.nZNR2KtMQA-zv143kziw-ntffgzoEXvFMOOkZWiCJ3M