NEXT_PUBLIC_SUPABASE_URL=https://uglncejufmwmbquamqxh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnbG5jZWp1Zm13bWJxdWFtcXhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTc5MTQ5NTMsImV4cCI6MjAxMzQ5MDk1M30.A1dVl-zqDD2S2xAMkTJf-8w8LcmYm6IEllATZ_uEf9o